/* You can add global styles to this file, and also import other style files */
*,
*::after,
*::before {
    /* margin: 0; */
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@import "tailwindcss";

.form-container {
    margin-inline: auto;
    max-width: 300px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-field {
    margin-inline: 4px;
    border: 1px solid black;
    display: inline-block;
}

.form-group {
    display: grid;
    gap: 0.5rem;
}